<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{#if isAuthenticated}}{{user.name}}
    の 記帳本
    {{else}}
    私 の 記帳本
    {{/if}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="relative w-screen min-h-screen bg-yellow-200">
  <div class="background-overlay" hidden></div>
  <header>
    <nav
      class="navbar w-full h-16 margin-auto bg-gray-800 shadow-lg fixed top-0 flex justify-between align-middle z-10">
      <div class="navbar-brand {{#if isAuthenticated}}{{else}}m-auto{{/if}} flex align-middle w-60">
        <a href="/" class="m-auto text-xl text-gray-200">
          {{#if isAuthenticated}}{{user.name}}
          の 記帳本
          {{else}}
          私 の 記帳本
          {{/if}}
        </a>
      </div>
      {{#if isAuthenticated}}
      <div class="hamburger-list-items flex justify-start items-center text-white">
        <input type="checkbox" class="navbar-toggle hidden absolute" id="navbar-toggle" />
        <label class="navbar-toggle-label flex items-center" for="navbar-toggle">
          <span class="user-name mr-4"><i class="fas fa-caret-down mr-2"></i>{{user.name}}</span>
          <img src="{{user.avatar}}" alt="user-avatar" class="user-avatar rounded-full w-10 h-10 mr-4" />
        </label>
        {{!-- come back and fix this --}}
        <nav class="nav-settings bg-gray-50 text-gray-500 z-50 w-screen h-screen hidden">
          <ul class="nav-list w-full py-12 list-none flex-col align-middle">
            <li class="nav-item nav-item-avatar">
              <img class="avatar rounded-full h-20 w-20" src="{{user.avatar}}" alt="user-avatar" />
            </li>
            <li class="nav-item nav-item-name">
              {{#if isAuthenticated}}{{user.name}}{{/if}}
            </li>
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/settings/edit">Account Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="/analysis">Charts /
                Analysis</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
      {{/if}}
    </nav>
  </header>
  {{> message}}
  {{{body}}}
  <footer class="w-screen h-16 bg-gray-700 flex justify-center align-middle">
    <span class="footer-text text-gray-200 m-auto">Made with
      <span class="text-red-400">&#9829;</span>
      by Sherry Liao &copy; 2021</span>
  </footer>
  <script type="text/javascript" src="/javascripts/utility.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>