<head>
	<link rel="stylesheet" href="/stylesheets/analysis.css" />
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
</head>

<div class="analysis-container d-flex flex-column align-items-center">
	<h1 class="analysis-title mt-5 mb-5">收支統計</h1>
  <form action="/analysis/filter" class="row d-flex align-items-center justify-content-around mb-5" onchange="submit()">
      <div class="form-check col-lg-1">
        <input class="form-check-input" type="radio" name="type" id="income" value="income"{{#if (isSelected type 'income' ) }}checked{{/if}}>
        <label class="form-check-label" for="income">
          收入
        </label>
      </div>
      <div class="form-check col-lg-1">
        <input class="form-check-input" type="radio" name="type" id="expense" value="expense"{{#if (isSelected type 'expense' ) }}checked{{/if}}>
        <label class="form-check-label" for="expense">
          支出
        </label>
      </div>
      <div class="form-check col-lg-1">
        <input class="form-check-input" type="radio" name="type" id="total" value="total" {{#if (isSelected type 'total' ) }}checked{{/if}}>
        <label class="form-check-label" for="total">
          全部
        </label>
      </div>
      <div class="form-select col-lg-2.5 d-flex align-items-center">
        <label for="month">月份：</label>
        <select class="form-select-month form-control w-auto" aria-label=".form-select example" name="date"
          id="month">
          <option value="all" name="all" {{#if (isSelected date 'all' ) }}selected{{/if}}>全部</option>
          {{#each monthOptions}}
          <option value="{{this}}" name="{{this}}" {{#if (isSelected ../date this ) }}selected{{/if}}>{{this}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="form-select col-lg-2.5 d-flex align-items-center">
        <label for="category">類別：</label>
        <select class="form-category form-select form-control w-auto" aria-label=".form-select-lg example"
          name="category" id="category">
          <option value="all" name="all" {{#if (isSelected category 'all' ) }}selected{{/if}}>全部</option>
          {{#each categoryOptions }}
          <option value="{{this}}" name="{{this}}" {{#if (isSelected ../category this ) }}selected{{/if}}>{{this}}
          </option>
          {{/each}}
        </select>
      </div>
    </form>
    <div class="chart-and-amount d-flex justify-content-center align-items-center">
      <div class="chart-container">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
      <div class="d-flex flex-column justify-content-between mt-3">
        <div class="col-4">
          <h2 id="total-amount" style="width: 150px;">總金額：</h2>
        </div>
        <div class="col-4">
          <h1 id="total-amount-display">{{ totalAmount }}</h1>
        </div>
      </div>
    </div>
  
  <div class="categoryAmount" hidden>{{categoryAmount}}</div>

  <div class="records mt-3" hidden>
    <ul class="list-group d-flex flex-column justify-content-center">
      {{#each records}}
      <li class="list-group-item d-flex row justify-content-between align-items-center">
        <div class="col-lg-1" >
          <i class="item-icon {{ this.icon }}" {{#if (isSelected this.recordType 'expense') }} style="color: rgb(252, 174, 86);" 
          {{else}}
          style="color: rgb(99, 187, 99);"
          {{/if}}></i>
        </div>
        <div class="col-lg-1.5">
          {{#if (isSelected this.recordType 'expense') }}<span style="color: rgb(252, 174, 86);">支出</span>
          {{else}}
          <span style="color: rgb(99, 187, 99);">收入</span>
          {{/if}}
        </div>
        <div class="col-lg-7 d-flex flex-column justify-content-center">
          <h2 class="item-title">{{ this.name }}</h2>
          <h3 class="item-date">{{ this.date }} - <span class="item-merchant">{{this.merchant}}</span></h3>
        </div>
        <div class="individual-amount col-lg-1 d-flex justify-content-end">
          <h2 class="item-amount">{{ this.amount }}</h2>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

  

<script src="/javascripts/analysis.js"></script>