<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
  <h1>請編輯支出內容</h1>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST" class="mt-4">
    <div class="d-flex">
      <div class="labels d-flex flex-column justify-content-between align-items-center mt-1">
        <label for="name">名稱*：</label>
        <label for="date">日期*：</label>
        <label for="category">類別*：</label>
        <label for="merchant">商家*：</label>
        <label for="amount">金額*：</label>
      </div>
      <div class="input-groups d-flex flex-column justify-content-between align-items-center">
        <input type="text" class="form-control" placeholder="名稱" name="name" value="{{ record.name }}">
        <input type="date" class="form-control" placeholder="日期" name="date" value="{{ record.date }}">
        <select class="form-select form-select" name="category" aria-label=".form-select-lg example"
          value="{{ record.category }}">
          <option name="" disabled selected>請選擇</option>
          <option value="housing" name="housing" {{#if (isSelected record.category 'housing' ) }}selected{{/if}}>家居物業
          </option>
          <option value="transportation" name="transportation" {{#if (isSelected record.category 'transportation' )
            }}selected{{/if}}>交通出行</option>
          <option value="entertainment" name="entertainment" {{#if (isSelected record.category 'entertainment' )
            }}selected{{/if}}>休閒娛樂</option>
          <option value="food" name="food" {{#if (isSelected record.category 'food' ) }}selected{{/if}}>餐飲食品</option>
          <option value="others" name="others" {{#if (isSelected record.category 'others' ) }}selected{{/if}}>其他
          </option>
        </select>
        <input type="text" class="form-control" placeholder="商家名稱" name="merchant" value="{{ record.merchant }}">
        <input type="number" class="form-control amount" placeholder="金額" name="amount" value="{{ record.amount }}">
      </div>
    </div>
    <div class=" button d-flex justify-content-center">
      <button type="submit" class="btn mt-4"
        style="width: 100px; background-color: rgb(24, 165, 146); color: #fff;">儲存</button>
    </div>
  </form>
  <a href="/"><button class="btn mt-4"
      style="width: 100px; background-color: rgb(14, 82, 73); color: #fff;">返回</button></a>
</div>