<head>
  <link rel="stylesheet" href="/stylesheets/newEdit.css">
</head>

<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
  <h1 class="title">編輯支出內容</h1>
  <div class="edit-img">
    <img class="naruto-wallet-img" src="/naruto_wallet.jpg" alt="naruto_wallet">
  </div>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST" class="mt-4">
    <div class="d-flex">
      <div class="labels d-flex flex-column justify-content-between align-items-center mt-1">
        <div class="name d-flex align-items-center mb-2">
          <label class="label" for="name">名稱：</label>
          <input type="text" class="form-control" placeholder="名稱" name="name" value="{{ record.name }}">
        </div>
        <div class="date d-flex align-items-center mb-2">
          <label class="label-long" for="date">日期：</label>
          <input type="date" class="form-control form-date" placeholder="日期" name="date" value="{{ record.date }}">
        </div>
        <div class="category d-flex justify-content-center align-items-center mb-2">
          <label class="label-long" for="category">類別：</label>
          <select class="form-select form-control" name="category" aria-label=".form-select-lg example"
            value="{{ record.category }}">
            <option name="" disabled selected>請選擇</option>
            <option value="家居物業" name="家居物業" {{#if (isSelected record.category '家居物業' ) }}selected{{/if}}>家居物業
            </option>
            <option value="交通出行" name="交通出行" {{#if (isSelected record.category '交通出行' ) }}selected{{/if}}>交通出行</option>
            <option value="休閒娛樂" name="休閒娛樂" {{#if (isSelected record.category '休閒娛樂' ) }}selected{{/if}}>休閒娛樂</option>
            <option value="餐飲食品" name="餐飲食品" {{#if (isSelected record.category '餐飲食品' ) }}selected{{/if}}>餐飲食品</option>
            <option value="其他" name="其他" {{#if (isSelected record.category '其他' ) }}selected{{/if}}>其他
            </option>
          </select>
        </div>
        <div class="merchant d-flex align-items-center mb-2">
          <label class="label" for="merchant">商家：</label>
          <input type="text" class="form-control" placeholder="商家名稱" name="merchant" value="{{ record.merchant }}">
        </div>
        <div class="amount d-flex align-items-center mb-2">
          <label class="label" for="amount">金額：</label>
          <input type="number" class="form-control amount" placeholder="金額" name="amount" value="{{ record.amount }}">
        </div>
      </div>
    </div>
    <div class=" button d-flex justify-content-center">
      <button type="submit" class="btn mt-4 save-btn">儲存</button>
      <a href="/"><button class="btn mt-4 back-btn">返回</button></a>
    </div>
  </form>
</div>