<div class="container d-flex flex-column justify-content-center mt-5" style="width: 700px;">
  <div class="sort">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>支出類別</option>
      <option value="housing" name="housing">家居物業</option>
      <option value="transportation" name="transportation">交通出行</option>
      <option value="entertainment" name="entertainment">休閒娛樂</option>
      <option value="food" name="food">餐飲食品</option>
      <option value="others" name="others">其他</option>
    </select>
  </div>
  <div class="total-amount d-flex justify-content-between mt-3 row">
    <div class="col-sm-4">
      <h2 style="font-size: 28px;">總金額：</h2>
    </div>
    <div class="col-sm-8">
      <h1 id="total-amount-display" style="font-size: 70px; margin-left: 80px; color: rgb(245, 176, 97);">25260</h1>
    </div>
  </div>
  <div class="records mt-3">
    <ul class="list-group d-flex flex-column justify-content-center">
      <a href="./records/new" style="text-decoration: none;">
        <li class="list-group-item d-flex row justify-content-between align-items-center"
          style="background-color: rgb(243, 240, 240);">
          <div class="col-sm-1"></div>
          <div class="col-sm-8">
            <h2 style="font-size: 20px; color: rgb(179, 176, 176);">點擊新增支出項目</h2>
            <h3 style=" font-size: 12px; color: rgb(179, 176, 176);">新增日期</h3>
          </div>
          <div class="col-sm-1 d-flex justify-content-end">
            <h2 style="font-size: 24px; color: rgb(179, 176, 176);">$$$</h2>
          </div>
          <div class="col-sm-1 d-flex justify-content-between">
            <i class="fas fa-plus-circle" style="font-size: 20px; color: rgb(179, 176, 176);"></i>
          </div>
        </li>
      </a>
      {{#each records}}
      <li class="list-group-item d-flex row justify-content-between align-items-center">
        <div class="col-sm-1">
          <i class="{{ this.icon }}" style="font-size: 20px; color: rgb(19, 168, 148);"></i>
        </div>
        <div class="col-sm-8">
          <h2 style="font-size: 20px;">{{ this.name }}</h2>
          <h3 style="font-size: 12px;">{{ this.date }}</h3>
        </div>
        <div class="col-sm-1 d-flex justify-content-end">
          <h2 style="font-size: 24px;">{{ this.amount }}</h2>
        </div>
        <div class="col-sm-1 d-flex justify-content-between">
          <a href="./records/{{ this._id }}/edit" style="color:rgb(24, 165, 146); text-decoration: none;"><i
              class="far fa-edit"></i></a>
          <form action="/records/{{ this._id }}/delete" method="POST">
            <button type="submit" class="btn"
              style="color:rgb(245, 176, 97); position: relative; bottom: 5px;">X</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- <div class="button d-flex justify-content-center">
    <a href="./records/new">
      <button class="create btn mt-4"
        style="width: 100px; background-color: rgb(24, 165, 146); color: #fff;">新增支出</button>
    </a>
  </div> --}}
</div>