<head>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<div class="container d-flex flex-column justify-content-center mt-5">
  <div class="filter d-flex justify-content-between">
    <form action="/" class="row d-flex  align-items-center justify-content-between mb-3" onchange="submit()">
      <select class="form-select-month form-control col-sm-4" aria-label=".form-select-lg example" name="yearMonth">
        <option value="all" name="all" {{#if (isSelected yearMonth 'all' ) }}selected{{/if}}>全部</option>
        {{#each monthOptions}}
        <option value="{{this}}" name="{{this}}" {{#if (isSelected ../yearMonth this ) }}selected{{/if}}>{{this}}
        </option>
        {{/each}}
      </select>
      <select class="form-category form-select form-control col-sm-5" aria-label=".form-select-lg example"
        name="category">
        <option value="all" name="all" {{#if (isSelected category 'all' ) }}selected{{/if}}>全部</option>
        {{#each categoryOptions }}
        <option value="{{this}}" name="{{this}}" {{#if (isSelected ../category this ) }}selected{{/if}}>{{this}}
        </option>
        {{/each}}
      </select>
    </form>
  </div>
  <div class="d-flex justify-content-between mt-3 row">
    <div class="col-sm-4">
      <h2 id="total-amount">總金額：</h2>
    </div>
    <div class="col-sm-8">
      <h1 id="total-amount-display">0</h1>
    </div>
  </div>
  <div class="records mt-3">
    <ul class="list-group d-flex flex-column justify-content-center">
      <a class="add-new-item" href="./records/new">
        <div id="add-new-btn" class="list-group-item d-flex row justify-content-between align-items-center">
          <div class="col-sm-1"><i class="far fa-hand-point-right"></i></div>
          <div class="col-sm-8">
            <h2 class="add-new-title">點擊新增支出項目</h2>
            <h3 class="add-new-date">新增日期</h3>
          </div>
          <div class="col-sm-1 d-flex justify-content-end">
            <h2 class="add-new-amount">$$$</h2>
          </div>
          <div class="col-sm-1 d-flex justify-content-end">
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>
      </a>
      {{#each records}}
      <li class="list-group-item d-flex row justify-content-between align-items-center">
        <div class="col-sm-1">
          <i class="item-icon {{ this.icon }}"></i>
        </div>
        <div class="col-sm-8 d-flex flex-column justify-content-center">
          <h2 class="item-title">{{ this.name }}</h2>
          <h3 class="item-date">{{ this.date }}</h3>
        </div>
        <div class="individual-amount col-sm-1 d-flex justify-content-end">
          <h2 class="item-amount">{{ this.amount }}</h2>
        </div>
        <div class="col-sm-1 d-flex justify-content-between">
          <a href="./records/{{ this._id }}/edit"><i class="far fa-edit"></i></a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-delete" onclick="return confirmDelete()">X</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>