<head>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<div class="container d-flex flex-column justify-content-center mt-5">
  <div class="filter d-flex justify-content-between">
    <form action="/" class="row d-flex  align-items-center justify-content-between mb-3" onchange="submit()">
      <select class="form-select-month form-control col-sm-4" aria-label=".form-select-lg example" name="month">
        <option value="支出月份" name="" disabled selected>支出月份</option>
        {{!-- <option value="all" name="all" {{#if (isSelected month 'all' ) }}selected{{/if}}>全部</option> --}}
        {{#each monthOptions}}
        <option value="{{this.month}}" name="{{this.month}}" {{#if (isSelected month "{{this.month}}" )
          }}selected{{/if}}>{{this.month}}</option>
        {{/each}}
      </select>
      <div class="reset-button">
        <a href="/"><button class="btn reset-btn">RESET</button></a>
      </div>
      <select class="form-category form-select form-control col-sm-5" aria-label=".form-select-lg example"
        name="category">
        <option value="支出類別" name="" disabled selected>支出類別</option>
        {{!-- <option value="all" name="all" {{#if (isSelected category 'all' ) }}selected{{/if}}>全部</option> --}}
        <option value="家居物業" name="家居物業" {{#if (isSelected category '家居物業' ) }}selected{{/if}}>家居物業</option>
        <option value="交通出行" name="交通出行" {{#if (isSelected category '交通出行' ) }}selected{{/if}}>
          交通出行</option>
        <option value="休閒娛樂" name="休閒娛樂" {{#if (isSelected category '休閒娛樂' ) }}selected{{/if}}>
          休閒娛樂</option>
        <option value="餐飲食品" name="餐飲食品" {{#if (isSelected category '餐飲食品' ) }}selected{{/if}}>餐飲食品</option>
        <option value="其他" name="其他" {{#if (isSelected category '其他' ) }}selected{{/if}}>其他</option>
      </select>
    </form>
  </div>
  <div class="d-flex justify-content-between mt-3 row">
    <div class="col-sm-4">
      <h2 id="total-amount">總金額：</h2>
    </div>
    <div class="col-sm-8">
      <h1 id="total-amount-display">0</h1>
    </div>
  </div>
  <div class="records mt-3">
    <ul class="list-group d-flex flex-column justify-content-center">
      <a class="add-new-item" href="./records/new">
        <div id="add-new-btn" class="list-group-item d-flex row justify-content-between align-items-center">
          <div class="col-sm-1"><i class="far fa-hand-point-right"></i></div>
          <div class="col-sm-8">
            <h2 class="add-new-title">點擊新增支出項目</h2>
            <h3 class="add-new-date">新增日期</h3>
          </div>
          <div class="col-sm-1 d-flex justify-content-end">
            <h2 class="add-new-amount">$$$</h2>
          </div>
          <div class="col-sm-1 d-flex justify-content-end">
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>
      </a>
      {{#each records}}
      <li class="list-group-item d-flex row justify-content-between align-items-center">
        <div class="col-sm-1">
          <i class="item-icon {{ this.icon }}"></i>
        </div>
        <div class="col-sm-8 d-flex flex-column justify-content-center">
          <h2 class="item-title">{{ this.name }}</h2>
          <h3 class="item-date">{{ this.date }}</h3>
        </div>
        <div class="individual-amount col-sm-1 d-flex justify-content-end">
          <h2 class="item-amount">{{ this.amount }}</h2>
        </div>
        <div class="col-sm-1 d-flex justify-content-between">
          <a href="./records/{{ this._id }}/edit"><i class="far fa-edit"></i></a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-delete" onclick="return confirmDelete()">X</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>