<head>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
</head>

<div class="overview-container lg:h-screen lg:mb-0">
  <div class="chat-record mt-28 lg:mb-0">
    <div class="flex flex-col align-middle">
      <h1 class="overview-title mt-5 mb-6 m-auto text-gray-600 text-4xl font-bold">Overview</h1>
      <div class="grid lg:grid-cols-3">
        <div class="left lg:pt-28">
          <form action="/overview/filter?type={{type}}&date={{date}}&category={{category}}&page=1" onchange="submit()"
            class="filter-container">
            <div class="type md:text-lg">
              <div class="form-check inline-block">
                <label class="inline-flex items-center" for="income">
                  <input type="radio" class="form-radio text-yellow-600" name="type" id="income" value="income" {{#if
                    (isSelected type 'income' ) }}checked{{/if}}>
                  <span class="ml-2">Income</span>
                </label>
              </div>
              <div class="form-check inline-block">
                <label class="inline-flex items-center" for="expense">
                  <input type="radio" class="form-radio text-yellow-600" name="type" id="expense" value="expense" {{#if
                    (isSelected type 'expense' ) }}checked{{/if}}>
                  <span class="ml-2">Expense</span>
                </label>
              </div>
              <div class="form-check inline-block">
                <label class="inline-flex items-center" for="total">
                  <input type="radio" class="form-radio text-yellow-600" name="type" id="total" value="total" {{#if
                    (isSelected type 'total' ) }}checked{{/if}}>
                  <span class="ml-2">Total</span>
                </label>
              </div>
            </div>
            <div class="month-category md:text-md">
              <div class="select w-full">
                <label class="flex mb-2" for="month">
                  <span class="text-gray-700 mr-2">Month</span>
                  <select class="form-select" name="date" id="month">
                    <option value="all" name="all" {{#if (isSelected date 'all' ) }}selected{{/if}}>All Months</option>
                    {{#each monthOptions}}
                    <option value="{{this}}" name="{{this}}" {{#if (isSelected ../date this ) }}selected{{/if}}>{{this}}
                    </option>
                    {{/each}}
                  </select>
                </label>
                <label class="flex" for="category">
                  <span class="text-gray-700 mr-2">Category</span>
                  <select class="form-select" name="category" id="category">
                    <option value="all" name="all" {{#if (isSelected category 'all' ) }}selected{{/if}}>All Categories
                    </option>
                    {{#each categoryOptions}}
                    <option value="{{this}}" name="{{this}}" {{#if (isSelected ../category this ) }}selected{{/if}}>
                      {{this}}
                    </option>
                    {{/each}}
                  </select>
                </label>
              </div>
            </div>
          </form>
          <div class="total-amount-container">
            Total：<span class="total-amount">{{ totalAmount }}</span>
          </div>
        </div>
        <div class="mid">
          <div class="chart-record block m-auto mt-16">
            <div class="chart-container h-96 w-96 m-auto">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
        <div class="right m-0">
          <div class="flex flex-col align-middle">
            <div class="table-container md:w-5/6 max-w-md ">
              <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                        <tr>
                          <th scope="col" class="th-title">
                            Title & Date
                          </th>
                          <th scope="col" class="th-title">
                            From
                          </th>
                          <th scope="col" class="th-title">
                            Amount
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200">
                        {{#each records}}
                        <tr>
                          <td class="td-content flex justify-start align-middle">
                            <div class="category my-2 mx-4 lg:mx-6">
                              <i class="{{this.icon}} {{#if (isSelected this.recordType 'expense' ) }}text-yellow-500
                                                        {{else}} text-green-400 {{/if}}"></i>
                            </div>
                            <div class="title-date">
                              <div class="text-sm text-gray-900">{{this.name}}</div>
                              <div class="text-sm text-gray-500">{{this.date}}</div>
                            </div>
                          </td>
                          <td class="px-6 td-content">
                            <div class="text-sm text-gray-900">{{this.merchant}}</div>
                          </td>
                          <td class="px-6 td-content">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{#if (isSelected this.recordType 'expense' ) }}text-green-800
                                                        {{else}}text-yellow-600 {{/if}}">
                              {{#if (isSelected this.amount 'expense') }}
                              {{this.amount}}
                              {{else}}
                              {{this.amount}}
                              {{/if}}
                            </span>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <nav aria-label="Page navigation" class="m-auto w-4/5 mt-10">
              <ul class="pagination" id="paginator">
                {{#each pages}}
                <li class="page-item"><a class="page-link m-auto"
                    href="/overview/filter?type={{ ../type }}&date={{ ../date }}&category={{ ../category }}&page={{this}}">{{this}}</a>
                </li>
                {{/each}}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="category-amount" hidden>{{categoryAmount}}</div>

<script src="/javascripts/overview.js"></script>